.topnav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 10px 0px 20px 0px;
    font-size: 15px;

}
.navlink {
    padding: 12px;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    padding: 5px;
    text-align: center;
    font-family: "Courier Prime", monospace; 
    font-size: 6vw;
    text-decoration: underline;

}
body {
    background:linear-gradient(90deg, #E8F7EE, #B8C4BB);
    margin:0;
    font-family: "Courier Prime", monospace;
    text-align: center;
}
section {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#mark_image {
    width: 50%;
    border-radius:12px;
    align-self: center ;
    flex-shrink: 1;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#bio {
    max-width: 100%;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    flex-shrink: 1;

}
ul {
    text-align: center;
    list-style: inside;
    font-size: 15px;
    padding: 0px;
  }
.hobbies {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    
}
.contacts {
    margin-left:auto;
    margin-right:auto;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#contact-me {
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
}
#links {
    display:flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
   

}
a {
    color: black;
}
#email {
    width: 100%;
    font-size: 0.75em;
    padding: 1em;
    

}
#twitter {
    width: 100%;
    align-self: center;
    padding: 1em;
    

}
#github {
    width: 100%;
    font-size: .75em;
    padding: 1em;
    align-items: center;


}

@media screen and (min-width:520px) {
    section {
        display:flex;
         width: auto;
        margin: auto;
 
    }
    #mark_image {
        width: 30%;
        margin: auto;
    }
    
     #bio {
         width:60%;
         margin: auto;
         flex-shrink: 1;
         font-size: 3vw;
     }
     
     #links {
         display: flex;
         justify-content: space-around;
         text-align: center;
         flex-wrap: wrap;
     }
     #email {
         width: 27%;
         font-size: 1em;
         padding: 1em;
     
     }
     #twitter {
         width: 27%;
         transform: ;
         align-self: center;
         padding: 1em;
     
     }
     #github {
         width: 27%;
         font-size: 1em;
         padding: 1em;
 
 }
 .hobbies {
     font-size: 2em;
 }
 ul { 
     font-size: 2vw;
 }
 .topnav {
     font-size: 1.5em;
 }
 
 }


 @media screen and (min-width: 871px) {
   
    h1 {
        font-size: 3em;
    }
   
    #bio {
        width:50%;
        margin: auto;
        font-size: 2.6vw;
        flex-shrink: 1;
    
    }
    #mark_image {
        width: 30%;
        margin: auto;
    }
    #hobby-list {
        margin: 80px;
    }
    #email { 
       
        font-size: 1.5em;
    }
    #github { 
         
        font-size: 1.5em;
    
    }
    #twitter { 
        
        transform: scale(1.5);
    }
 }

 @media screen and (min-width:1200px) {
     body {
         width:1200px;
         margin-left: auto;
         margin-right:auto;
     }
     #bio {
         font-size: 1.5em;
     }
 }






 
 

