h1 {
    margin: 0;
    border: 0;
    padding: 15px;
    text-align: center;
    font-family: monospace;
    font-size: 45px;

}
body {
    background-color:#F7FBFF;
    margin:0;
    font-family: monospace;
}
#mark_image {
    border-radius:12px;
    transform: scale(0.5);
    ;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#bio {
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
ul {
    font-size: 30px;
    align: center;
}
.hobbies {
    font-size: 35px;
    text-decoration: underline;
    text-align: center;
    
}
.contacts {
    float: right;
    width: 350px;
    height: 100px;
    padding: 20px 40px 20px 40px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
