 
/* Header Styles */

.topnav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 10px 0px 20px 0px;
    font-size: 15px;
    

}

.navlink {
    padding: 12px;
    transition: all .2s ease-in-out;
    list-style: none;
}
.navlink:hover { 
    transform: scale(1.5);
    
}

.navlink:active { 
    text-decoration: underline;
}
/* End Header Styles*/

/* Body Styles */

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    padding: 5px;
    text-align: center;
    font-family: "Courier Prime", monospace; 
    font-size: 6vw;
    text-decoration: underline;

}
body {
    background:linear-gradient(90deg, #E8F7EE, #B8C4BB);
    margin:0;
    font-family: "Courier Prime", monospace;
    text-align: center;
}
section {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#mark_image {
    width: 50%;
    border-radius:12px;
    align-self: center ;
    flex-shrink: 1;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#bio {
    max-width: 100%;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    flex-shrink: 1;

}
ul {
    text-align: center;
    list-style: inside;
    font-size: 15px;
    padding: 0px;

  }
.hobbies {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Footer Styles */

#contact-me {
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
}
#links {
    display:inline-block;
    justify-content: center;
    text-align: center;
 

}
.contacts {
    margin-left:auto;
    margin-right:auto;
}
  

}
a:hover { 
    transform: scale(1.5);
}

a {
    color: black;
    padding: 5px;
    
}


#email:hover { 
    transform: scale(1.5);
}

#twitter {
    width: 100%;
    font-size: 3em;
    align-items: center;
    transition: all .2s ease-in-out;

}

#twitter:hover {
    transform: scale(2);
}

#github {
    width: 100%;
    font-size: 3em;
    align-items: center;
    transition: all .2s ease-in-out;

}

#github:hover { 
    transform: scale(1.5);
}

#linkedin {
    width: 100%;
    font-size: 3em;
    align-items: center;
    transition: all .2s ease-in-out;
}

#linkedin:hover {
    transform: scale(1.5);
}
/* contact */
#envelope {
    font-size: 10em;
    margin: auto;
}
form {
    width:100%;
    text-align: center;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 30%;
    text-align: center;
}
#form-list {
    list-style: none;
}

input, 
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;

  /* Uniform text field size */
  width: 70%;
  box-sizing: border-box;

  /* Match form field borders */
  border: 3px solid #999;
  border-radius: 25px;
  background: transparent;
}


button {
    background-color: black;
    border: none;
	border-radius: 20px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: inherit;
	font-size: 17px;
	font-weight: bold;
	padding: 10px 20px;
    text-decoration: none;
    float: center;
    margin: 10px;
}



/* Media Queries */

@media screen and (min-width:520px) {
    section {
        display:flex;
         width: auto;
        margin: auto;
 
    }
    #mark_image {
        width: 30%;
        margin: auto;
    }
    
     #bio {
         width:60%;
         margin: auto;
         flex-shrink: 1;
         font-size: 3vw;
     }
     
     #linkedin {
         width: 27%;
         padding: 1em;
     
     }
     #twitter {
         width: 27%;
         padding: 1em;
     
     }
     #github {
         width: 27%;
         
         padding: 1em;
 
 }
 .hobbies {
     font-size: 2em;
 }
 ul { 
     font-size: 2vw;
    
 }
 .topnav {
     font-size: 1.5em;

 }


 @media screen and (min-width: 871px) {
   
    h1 {
        font-size: 3em;
    }
   
    #bio {
        width:50%;
        margin: auto;
        font-size: 2.6vw;
        flex-shrink: 1;
    
    }
    #mark_image {
        width: 30%;
        margin: auto;
    }
    #hobby-list {
        margin: 80px;
    }
    #email { 
       
       
    }
    #github { 
         
       
    
    }
    #twitter { 
        
       
    }

    #contact-body {
        
        display: flex;
    }
    #envelope {
        width: 30%;
        text-align: center;
    }
    form {
        width: 60%;
        text-align: center ;

    }

    #envelope {
        font-size: 15em;
        padding-bottom: 60px;
    }
 }

 @media screen and (min-width:1200px) {
     body {
         width:1200px;
         margin-left: auto;
         margin-right:auto;
     }
     #bio {
         font-size: 1.5em;
     }
     footer {
         width: 1200px;
         margin-left: auto;
         margin-right: auto;
     }
 }






 
 

